 <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-6 mt-6">

    
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-lime-400/20 hover:-translate-y-2 transition-all duration-300">
              
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg" 
                alt="Angular"
                class="w-16 h-16 object-contain">
            <p class="mt-4 text-white font-semibold">Spring</p>
        </div>

        
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-blue-500/20 hover:-translate-y-2 transition-all duration-300">
            
            
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" 
                alt="TypeScript"
                class="w-16 h-16 object-contain">
            <p class="mt-4 text-white font-semibold">Java</p>
        </div>

     
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-blue-400/20 hover:-translate-y-2 transition-all duration-300">
            
            
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" 
                alt="JavaScript"
                class="w-16 h-16 object-contain">
            <p class="mt-4 text-white font-semibold">PostgreSQL</p>
        </div>

      

    </div>
