
<div class="animate-page">
   


    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-6 mt-6">

      
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-red-400/20 hover:-translate-y-2 transition-all duration-300">
                
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" 
          
                alt="Angular"
                class="w-16 h-16 object-contain">
                <div class="w-10 h-1 bg-yellow-400 rounded-full mx-auto mt-3 shadow-red-400/20 "></div> 
            <p class="mt-2 text-white font-semibold">Angular</p>
        </div>

       
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-blue-500/20 hover:-translate-y-2 transition-all duration-300">
            
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-plain.svg" 
          
                alt="TypeScript"
                class="w-16 h-16 object-contain">
                 <div class="w-10 h-1 bg-yellow-400 rounded-full mx-auto mt-3 shadow-red-400/20 "></div> 
            <p class="mt-2 text-white font-semibold">TypeScript</p>
        </div>

      
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-yellow-400/20 hover:-translate-y-2 transition-all duration-300">
            
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg" 
          
                alt="JavaScript"
                class="w-16 h-16 object-contain">
                 <div class="w-10 h-1 bg-yellow-400 rounded-full mx-auto mt-3 shadow-red-400/20 "></div> 
            <p class="mt-2 text-white font-semibold">JavaScript</p>
        </div>

       
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-orange-500/20 hover:-translate-y-2 transition-all duration-300">
            
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" 
          
                alt="HTML"
                class="w-16 h-16 object-contain">
                 <div class="w-10 h-1 bg-yellow-400 rounded-full mx-auto mt-3 shadow-red-400/20 "></div> 
            <p class="mt-2 text-white font-semibold">HTML</p>
        </div>

       
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-cyan-500/20 hover:-translate-y-2 transition-all duration-300">
            
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" 
          
                alt="CSS"
                class="w-16 h-16 object-contain">
                 <div class="w-10 h-1 bg-yellow-400 rounded-full mx-auto mt-3 shadow-red-400/20 "></div> 
            <p class="mt-2 text-white font-semibold">CSS</p>
        </div>

        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-cyan-400/20 hover:-translate-y-2 transition-all duration-300">
           
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" 
          
                alt="Tailwind CSS"
                class="w-16 h-16 object-contain">
                 <div class="w-10 h-1 bg-yellow-400 rounded-full mx-auto mt-3 shadow-red-400/20 "></div> 
            <p class="mt-2 text-white font-semibold">Tailwind</p>
        </div>


    </div>
</div>