 <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-6 mt-6">

        <!-- Angular -->
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-blue-400/20 hover:-translate-y-2 transition-all duration-300">
                
            
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg" 
                alt="vscode"
                class="w-16 h-16 object-contain">
            <p class="mt-4 text-white font-semibold">VS Code</p>
        </div>

        <!-- TypeScript -->
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-orange-500/20 hover:-translate-y-2 transition-all duration-300">
            
           
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg" 
          alt="Postman"
                class="w-16 h-16 object-contain">
            <p class="mt-4 text-white font-semibold">Postman</p>
        </div>

        <!-- JavaScript -->
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-sky-400/20 hover:-translate-y-2 transition-all duration-300">
            
            
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-plain.svg" 
                alt="Docker"
                class="w-16 h-16 object-contain">
            <p class="mt-4 text-white font-semibold">Docker</p>
        </div>

      
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-teal-500/20 hover:-translate-y-2 transition-all duration-300">
            
          
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/netlify/netlify-original.svg" 
                alt="netlify"
                class="w-16 h-16 object-contain">
            <p class="mt-4 text-white font-semibold">netlify</p>
        </div>


       
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-orange-400/20 hover:-translate-y-2 transition-all duration-300">
            
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
          
                alt="Git"
                class="w-16 h-16 object-contain">
            <p class="mt-4 text-white font-semibold">Git</p>
        </div>

        
        <div
            class="bg-[#1E1E1E] rounded-2xl p-6 flex flex-col items-center justify-center shadow-lg hover:shadow-white/20 hover:-translate-y-2 transition-all duration-300">
            
            
            <i class="devicon-github-original object-contain  text-7xl"></i>
          

            <p class="mt-4 text-white font-semibold">GitHub</p>
        </div>

    </div>
